@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Good Times';
  src: url('./good_times.woff2') format('woff2'),
  url('./good_times.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

html,
body {
  height: 100%;
  word-wrap: break-word;
}

